In [1]:
import pandas as pd

In [9]:
total_dataset=pd.read_csv('total_dataset.csv')

In [14]:
# Créer une colonne 'territory' avec des valeurs par défaut
total_dataset['territory'] = None

# Remplacer les valeurs de 'territory' selon les conditions spécifiées
total_dataset.loc[total_dataset['DPTO'].isin([11]), 'territory'] = 1  # bogota
total_dataset.loc[total_dataset['DPTO_y'].isin([11]), 'territory'] = 2

total_dataset.loc[total_dataset['DPTO'].isin([76, 5]), 'territory'] = 3  # cali, medellin
total_dataset.loc[total_dataset['DPTO_y'].isin([76, 5]), 'territory']= 4

total_dataset.loc[total_dataset['DPTO'].isin([8, 13, 54, 68]), 'territory'] = 10  # big capital, big area
total_dataset.loc[total_dataset['DPTO_y'].isin([8, 13, 54, 68]), 'territory'] = 11

total_dataset.loc[total_dataset['DPTO'].isin([66, 73, 52, 17, 50, 23]), 'territory'] = 12  # small capital, big area
total_dataset.loc[total_dataset['DPTO_y'].isin([66, 73, 52, 17, 50, 23]), 'territory'] = 13

total_dataset.loc[total_dataset['DPTO'].isin([15, 41, 20, 47, 19, 44]), 'territory'] = 14  # big area without capitals
total_dataset.loc[total_dataset['DPTO_y'].isin([15, 41, 20, 47, 19, 44]), 'territory'] = 15

total_dataset.loc[total_dataset['DPTO_y'].isin([18, 25, 27, 63, 70]), 'territory'] = 16  # small area without capitals
total_dataset.loc[total_dataset['DPTO'].isin([18, 25, 27, 63, 70]), 'territory'] = 17

# Afficher le décompte des valeurs dans la colonne 'territory'
print(total_dataset['territory'].value_counts())

print(total_dataset.head(34))
print(total_dataset['DPTO'].tail(50), total_dataset['DPTO_y'].tail(50))

territory
13    7737
11    6087
15    4364
4     3920
17    3076
2     1446
Name: count, dtype: int64
    DIRECTORIO  SECUENCIA_P  ORDEN  HOGAR  REGIS  P6016  P6020  P6030S1  \
0    6037206.0          1.0    1.0    1.0     10    1.0    1.0      1.0
1    6037207.0          1.0    1.0    1.0     10    1.0    1.0      1.0
2    6037209.0          1.0    1.0    1.0     10    1.0    2.0     11.0
3    6037210.0          1.0    1.0    1.0     10    1.0    1.0      8.0
4    6037211.0          1.0    1.0    1.0     10    1.0    2.0      8.0
5    6037212.0          1.0    1.0    1.0     10    1.0    1.0      1.0
6    6037213.0          1.0    1.0    1.0     10    1.0    2.0      2.0
7    6037214.0          1.0    1.0    1.0     10    1.0    1.0      2.0
8    6037215.0          1.0    1.0    1.0     10    1.0    2.0      9.0
9    6037216.0          1.0    1.0    1.0     10    1.0    2.0     11.0
10   6037217.0          1.0    1.0    1.0     10    1.0    1.0      3.0
11   6037218.0          1.0    1.0    1.0     10    1.0    2.0     10.0
12   6037219.0          1.0    1.0    1.0     10    1.0    2.0     12.0
13   6037220.0          1.0    1.0    1.0     10    1.0    1.0      6.0
14   6037221.0          1.0    1.0    1.0     10    1.0    2.0     10.0
15   6037222.0          1.0    1.0    1.0     10    1.0    2.0      5.0
16   6037223.0          1.0    1.0    1.0     10    1.0    2.0      2.0
17   6037224.0          1.0    1.0    1.0     10    1.0    1.0      7.0
18   6037225.0          1.0    1.0    1.0     10    1.0    1.0      6.0
19   6037226.0          1.0    1.0    1.0     10    1.0    2.0     12.0
20   6037227.0          1.0    1.0    1.0     10    1.0    2.0      3.0
21   6037229.0          1.0    1.0    1.0     10    1.0    2.0     12.0
22   6037231.0          1.0    1.0    1.0     10    1.0    1.0     10.0
23   6037232.0          1.0    1.0    1.0     10    1.0    1.0      5.0
24   6037233.0          1.0    1.0    1.0     10    1.0    2.0      2.0
25   6037235.0          1.0    1.0    1.0     10    1.0    1.0      5.0
26   6037236.0          1.0    1.0    1.0     10    1.0    2.0      7.0
27   6037237.0          1.0    1.0    1.0     10    1.0    1.0     12.0
28   6037238.0          1.0    1.0    1.0     10    1.0    2.0     11.0
29   6037239.0          1.0    1.0    1.0     10    1.0    2.0      7.0
30   6037240.0          1.0    1.0    1.0     10    1.0    1.0      1.0
31   6037241.0          1.0    1.0    1.0     10    1.0    2.0      8.0
32   6037242.0          1.0    1.0    1.0     10    1.0    2.0     10.0
33   6037243.0          1.0    1.0    1.0     10    1.0    1.0      1.0

    P6030S3  P6040  ...  P4030S5  P4040  REGIS_y  AREA_y  MES_y  DPTO_y  \
0    1963.0   58.0  ...      1.0    1.0        1     5.0     12       5
1    1979.0   42.0  ...      1.0    1.0        1     5.0     12       5
2    1977.0   44.0  ...      1.0    1.0        1     5.0     12       5
3    1972.0   49.0  ...      1.0    1.0        1     5.0     12       5
4    1986.0   35.0  ...      1.0    1.0        1     5.0     12       5
5    1964.0   57.0  ...      1.0    1.0        1     5.0     12       5
6    1967.0   54.0  ...      1.0    1.0        1     5.0     12       5
7    1987.0   34.0  ...      1.0    1.0        1     5.0     12       5
8    1972.0   49.0  ...      1.0    1.0        1     5.0     12       5
9    1948.0   73.0  ...      1.0    1.0        1     5.0     12       5
10   1976.0   45.0  ...      1.0    1.0        1     5.0     12       5
11   1962.0   59.0  ...      1.0    1.0        1     5.0     12       5
12   1949.0   71.0  ...      1.0    1.0        1     5.0     12       5
13   1997.0   24.0  ...      1.0    1.0        1     5.0     12       5
14   1948.0   73.0  ...      1.0    1.0        1     5.0     12       5
15   1992.0   29.0  ...      1.0    1.0        1     5.0     12       5
16   1971.0   50.0  ...      1.0    1.0        1     5.0     12       5
17   1946.0   75.0  ...      1.0    1.0        1     5.0     12       5
18   1988.0   33.0  ...      1.0    1.0        1     5.0     12       5
19   1944.0   76.0  ...      1.0    1.0        1     5.0     12       5
20   1987.0   34.0  ...      1.0    1.0        1     5.0     12       5
21   1986.0   34.0  ...      1.0    1.0        1     5.0     12       5
22   1989.0   32.0  ...      1.0    1.0        1     5.0     12       5
23   1983.0   38.0  ...      1.0    1.0        1     5.0     12       5
24   1975.0   46.0  ...      1.0    1.0        1     5.0     12       5
25   1971.0   50.0  ...      1.0    1.0        1     5.0     12       5
26   1984.0   37.0  ...      1.0    1.0        1     5.0     12       5
27   1969.0   51.0  ...      1.0    1.0        1     5.0     12       5
28   1977.0   44.0  ...      1.0    1.0        1     5.0     12       5
29   1981.0   40.0  ...      1.0    1.0        1     5.0     12       5
30   1954.0   67.0  ...      1.0    1.0        1     5.0     12       5
31   1942.0   79.0  ...      1.0    1.0        1     5.0     12       5
32   1973.0   48.0  ...      1.0    1.0        1     5.0     12       5
33   1983.0   38.0  ...      1.0    1.0        1     5.0     12       5

   fex_c_2011_y  CLASE  CLASE_y  territory
0   1296.092057    NaN      NaN          4
1   1451.291178    NaN      NaN          4
2   1193.103490    NaN      NaN          4
3   1155.402197    NaN      NaN          4
4   1094.942950    NaN      NaN          4
5   1078.589300    NaN      NaN          4
6   1211.982956    NaN      NaN          4
7   1253.562738    NaN      NaN          4
8   1628.732793    NaN      NaN          4
9   1372.904954    NaN      NaN          4
10  1365.461296    NaN      NaN          4
11  1296.092057    NaN      NaN          4
12  1261.006396    NaN      NaN          4
13  1642.470811    NaN      NaN          4
14  1372.904954    NaN      NaN          4
15  1136.522731    NaN      NaN          4
16  1253.562738    NaN      NaN          4
17  1296.092057    NaN      NaN          4
18  1365.461296    NaN      NaN          4
19   932.554618    NaN      NaN          4
20  1530.282868    NaN      NaN          4
21  1460.913630    NaN      NaN          4
22  1585.600668    NaN      NaN          4
23  1571.862650    NaN      NaN          4
24  1136.522731    NaN      NaN          4
25  1155.402197    NaN      NaN          4
26  1789.677301    NaN      NaN          4
27  1211.982956    NaN      NaN          4
28  1151.523709    NaN      NaN          4
29  1113.822416    NaN      NaN          4
30  1296.092057    NaN      NaN          4
31  1063.332643    NaN      NaN          4
32  1410.918142    NaN      NaN          4
33  1211.982956    NaN      NaN          4

[34 rows x 117 columns]
26580    70
26581    70
26582    70
26583    70
26584    70
26585    70
26586    70
26587    70
26588    70
26589    70
26590    70
26591    70
26592    70
26593    70
26594    70
26595    70
26596    70
26597    70
26598    70
26599    70
26600    70
26601    70
26602    70
26603    70
26604    70
26605    70
26606    70
26607    70
26608    70
26609    76
26610    76
26611    76
26612    76
26613    76
26614    76
26615    13
26616    13
26617    13
26618    13
26619    19
26620    76
26621    76
26622    76
26623    76
26624    76
26625    23
26626    23
26627    23
26628    23
26629    23
Name: DPTO, dtype: int64 26580    70
26581    70
26582    70
26583    70
26584    70
26585    70
26586    70
26587    70
26588    70
26589    70
26590    70
26591    70
26592    70
26593    70
26594    70
26595    70
26596    70
26597    70
26598    70
26599    70
26600    70
26601    70
26602    70
26603    70
26604    70
26605    70
26606    70
26607    70
26608    70
26609    76
26610    76
26611    76
26612    76
26613    76
26614    76
26615    13
26616    13
26617    13
26618    13
26619    19
26620    76
26621    76
26622    76
26623    76
26624    76
26625    23
26626    23
26627    23
26628    23
26629    23
Name: DPTO_y, dtype: int64

In [ ]:
# Pour les caractéristiques personnelles entièrement renseignées
print(df['gender'].value_counts())
print(df['level_educ'].value_counts())
print(df['age'].value_counts())
print(df['marital_status'].value_counts())

# Remplacer les valeurs de la colonne 'gender' selon les conditions spécifiées
df['gender'].replace({1: 0, 2: 1}, inplace=True)  # male as reference